{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réserver une table</h1>
    {{ form_start(form) }}
        {{ form_row(form.number) }}
        {{ form_row(form.dates) }}
        {{ form_row(form.time) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.isAgree) }}
        <button type='submit'>Réserver</button>
    {{ form_end(form) }}
{% endblock %}
